.horiShow .tag{
	float: left;
	margin-top: 13px;
}

.horiShow .tags{
	display: inline-block;
	margin-left: 16px;
	margin-top: 13px;
	line-height: 19px;
	color: #f69;
	font-family: "microsoft yahei";
}