.textBanner{
	font-family: "microsoft yahei";
	width: 100%;
	height: 30px;
	overflow: hidden;
}

.textBanner .title{
	font-size: 20px;
	float: left;
	color: #666;
	line-height: 20px;
}

.textBanner .comment{
	float: left;
	color: #999;
	font-size: 12px;
	line-height: 12px;
	padding-top: 8px;
	padding-left: 10px;
}

.textBanner .more{
	display: inline-block;
	color: #666;
	font-size: 12px;
	text-decoration: none;
	float: left;
	padding-left: 855px;
	margin-left: 4px;
	border-bottom: 1px solid #ededed;
	line-height: 20px;
}

/*右箭头*/
.textBanner .more .dot-right{
	display: inline-block;
	margin-left: 4px;
	font-size: 0;
	line-height: 0;
	border-width: 5px;
	border-color: #656666;
	border-right-width: 0;
	border-style: dashed;
	border-left-style: solid;
	border-top-color: transparent;
	border-bottom-color: transparent;
}
